INFLUX_URL=
INFLUX_DB=
INFLUX_TOKEN=
SQLITE_PATH=
LOGS_PATH=
JWT_SECRET=
SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM=
GUPSHUP_API_KEY=
GUPSHUP_SOURCE=
GUPSHUP_TEMPLATE_NAME=
SERVER_HOST=
SERVER_PORT=
FIRMWARE_VERSION=
DEVICE_THRESHOLD=